<div class="sidebar" role="aside" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
		<header class="header">
			{{#if @blog.logo}}
			<a href="/">
				<img id="blog" class="logo" src="{{@blog.logo}}">
			</a>
			{{/if}}
			<h1 class="title"><a href="/">{{@blog.title}}</a></h1>

			<div class="separator"></div>

			<p class="description">{{{@blog.description}}}</p>
			<div class="social-icons">
				<a href="https://twitter.com/mbcharbonneau" class="icon icon-twitter"></a>
				<a href="https://github.com/mbcharbonneau" class="icon icon-github"></a>
				<a href="/rss" class="icon-rss"></a>
			</div>
		</header>
	</div>